<header class="flex justify-center ">
    <div class="space-y-3">
        <span class="font-bold text-gray-900 ">PAGINA HIJA</span>
        <div>{{nombreHijo}} </div>
        <Button (click)="cambiarnombre()" class="focus:outline-none bg-gray-800 text-red-50 p-2 px-5 hover:bg-red-600 rounded-md ">Cambiar Nombre Denuevo</Button>
    </div>
</header>