<header class="flex justify-center pt-3  ">
    <div class="grid grid-cols-2 gap-3 ">
        <div class="space-y-3 col-span-1">
            <span class="font-bold text-gray-900 ">PAGINA HOME</span>
            <div>{{nombre}}</div>
            <Button (click)="cambiarnombrehome()" class="focus:outline-none bg-gray-800 text-red-50 p-2 px-5 hover:bg-red-600 rounded-md ">Cambiar Nombre</Button>
        </div>
        <app-hija [nombreHijo]="nombre" (cambioNombreHijo)="nombre = $event" class="col-span-1"></app-hija>
    </div>
</header>